<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <table
        class="table display product-overview mb-30"
        *ngIf="scData?.length > 0"
      >
        <thead>
          <tr class="header">
            <th>PES</th>
            <th *ngFor="let obj of scData[0]?.metrics">
              {{ obj.metric }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of scData">
            <td>
              <span class="group-name">{{ item.groupname }}</span> <br />
              <span class="group-grade">{{ item.groupnumericgrade }}</span>
            </td>
            <td *ngFor="let data of item.metrics">
              <div class="row-card">
                <app-line-chart
                  [chartDataInfo]="data.metrichistory"
                ></app-line-chart>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!--
      <div class="display product-overview mb-30" *ngIf="scData?.length > 0">
        <div class="row">
          <div class="col d-inline">
            <span>PES</span>
          </div>
          <div class="col d-inline" *ngFor="let obj of scData[0]?.metrics">
            <span>{{ obj.metric }}</span>
          </div>
        </div>
        <div class="row" *ngFor="let item of scData">
          <div class="col d-inline">
            <span class="group-name">{{ item.groupname }}</span> <br />
            <span class="group-grade">{{ item.groupnumericgrade }}</span>
          </div>
          <div class="col d-inline row-card" *ngFor="let data of item.metrics">
            <app-line-chart
              [chartDataInfo]="data.metrichistory"
            ></app-line-chart>
          </div>
        </div>
      </div>
-->
    </div>
  </div>
</div>
